# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.DS_Store

# Django
*.log
local_settings.py
db.sqlite3
media/

# Node
frontend/node_modules/
mobileApp/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.venv
env/

# IDE
.vscode/
.idea/
node_modules
